<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxia Eliptica</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/tresColumnas.css">
</head>
<body>
    <header>
        <img src="../imges/logo.jpg" alt="logo">
    </header>

    <nav>
        <ul>
            <li class="menu"><a href="../index.html">Pagina Principal</a></li>
            <li class="menu"><a href="teoria.html">Teoria sobre el origen del universo</a></li>
            <li class="menu"><a href="galaxia-eliptica.html">Galaxias Elípticas</a></li>
            <li class="menu"><a href="galaxia-lenticular.html">Galaxias Lenticulares</a></li>
            <li class="menu"><a href="galaxia-espiral.html">Galaxias Espirales</a></li>
            <li class="menu"><a href="galaxia-barrada.html">Galaxia Espiral Barrada</a></li>
            <li class="menu"><a href="galaxia-irregular.html">Galaxia Irregulares</a></li>
            <li class="menu"><a href="sonido-espacio.html">Sonidos del espacio</a></li> 
            <li class="menu"><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <section>
        
        <h1>Galaxias Elipticas</h1>
        <article class="col-izquierda">
            <h1>Caracteristicas</h1>
            <ol>
                <li class="fondo"> Ausencia o insignificante <b>momento angular</b></li>
                <li class="fondo"> Ausencia o insignificante cantidad de materia interestelar </li>
                <li class="fondo"> Compuestas sobre todo por estrellas antiguas</li>
                <li class="fondo"> Concentración de luz central</li>
                <li class="fondo"> Poblaciones <dfn>estelares</dfn></li>
            </ol>
        </article>
        <article class="col-izquierda">
            <p>En forma de elipse o de esferoide, se caracterizan por 
                carecer de una estructura interna definida y por 
                presentar muy poca materia <i>interestelar</i> . 
                Se consideran las más antiguas del universo, ya 
                que sus estrellas son viejas y se encuentran en una 
                fase muy avanzada de su evolución.</p>
                <img src="../imges/eliptica.jpg" alt="galaxia-eliptica">
        </article>
        <aside class="col-izquierda">
            <img src="../imges/galeliptica.jpg" alt="" id="final">
        </aside>
    </section>

    <!-- pie de pagina -->

    <footer>
        <h3>Universidad Politécnica Salesiana</h3>
        <h3>Estudiante: Byron Godoy</h3>
        <h3>Correo: <a href="mailto:bgodoyt@est.ups.edu.ec">bgodoyt@est.ups.edu.ec</a></h3>
        <h3>Telefono: <a href="tel:0968718441">0968718441</a></h3>
        <label >&#169; Todos los derechos reservados</label>
    </footer>
</body>
</html>