<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>galaxia lenticular</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/dosColumnas.css">
</head>
<body>
    <header>
        <img src="../imges/logo.jpg" alt="logo">
    </header>

    <nav>
        <ul>
            <li class="menu"><a href="../index.html">Pagina Principal</a></li>
            <li class="menu"><a href="teoria.html">Teoria sobre el origen del universo</a></li>
            <li class="menu"><a href="galaxia-eliptica.html">Galaxias Elípticas</a></li>
            <li class="menu"><a href="galaxia-lenticular.html">Galaxias Lenticulares</a></li>
            <li class="menu"><a href="galaxia-espiral.html">Galaxias Espirales</a></li>
            <li class="menu"><a href="galaxia-barrada.html">Galaxia Espiral Barrada</a></li>
            <li class="menu"><a href="galaxia-irregular.html">Galaxia Irregulares</a></li>
            <li class="menu"><a href="sonido-espacio.html">Sonidos del espacio</a></li> 
            <li class="menu"><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <section>
        <article class="col-izquierda">
            <h1>Galaxias Lenticulares</h1>
            <p>Las galaxias de este tipo fueron en su momento galaxias espirales, 
                pero consumieron o perdieron gran parte de materia interestelar, 
                por lo que hoy carecen de brazos espirales y solo presenta su núcleo. 
                Aunque a veces existe cierta cantidad de materia interestelar, 
                sobre todo polvo, que se agrupa en forma de disco alrededor de esta. 
                Estas galaxias constituyen alrededor del 3 % de las galaxias del 
                universo.</p>
                <aside>
                    <img src="../imges/lenticular.jpg" alt="galaxia lenticular">
                </aside>
        </article>

        <article class="col-derecha">
            <h1>origen</h1>
            <p>Las galaxias lenticulares suelen abundar en cúmulos de galaxias 
                ricos, en detrimento de las galaxias espirales, y al parecer 
                fueron en tiempos galaxias espirales que perdieron su gas por 
                rozamiento con el gas intergaláctico caliente que llena el 
                espacio intergaláctico y/o por interacciones gravitatorias 
                con otras galaxias (sufriendo a causa de lo segundo brotes 
                estelares que contribuirían a la pérdida de su medio interestelar 
                y al aumento de su bulbo central)</p>
                <aside>
                    <img src="../imges/lenticular2.jpg" alt="lenticular" style="width: 35% !important;">
                </aside>
        </article>
        
        
    </section>

<!-- pie de pagina -->

<footer>
    <h3>Universidad Politécnica Salesiana</h3>
    <h3>Estudiante: Byron Godoy</h3>
    <h3>Correo: <a href="mailto:bgodoyt@est.ups.edu.ec">bgodoyt@est.ups.edu.ec</a></h3>
    <h3>Telefono: <a href="tel:0968718441">0968718441</a></h3>
    <label >&#169; Todos los derechos reservados</label>
</footer>
</body>
</html>