<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>galaxia espiral</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/tresColumnas.css">
</head>
<body>
    <header>
        <img src="../imges/logo.jpg" alt="logo">
    </header>

    <nav>
        <ul>
            <li class="menu"><a href="../index.html">Pagina Principal</a></li>
            <li class="menu"><a href="teoria.html">Teoria sobre el origen del universo</a></li>
            <li class="menu"><a href="galaxia-eliptica.html">Galaxias Elípticas</a></li>
            <li class="menu"><a href="galaxia-lenticular.html">Galaxias Lenticulares</a></li>
            <li class="menu"><a href="galaxia-espiral.html">Galaxias Espirales</a></li>
            <li class="menu"><a href="galaxia-barrada.html">Galaxia Espiral Barrada</a></li>
            <li class="menu"><a href="galaxia-irregular.html">Galaxia Irregulares</a></li>
            <li class="menu"><a href="sonido-espacio.html">Sonidos del espacio</a></li> 
            <li class="menu"><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <section>
        <h1>Galaxias Espirales</h1>
        <article class="col-izquierda">
            <h1>Caracteristicas</h1>
            <ol>
                <li class="fondo">El pico de la CR varía entre 150 y 300 km/s</li>
                <li class="fondo">Las galaxias mayores rotan más rápido</li>
                <li class="fondo">CR sube más bruscamente para las Sa y Sb que para las Sd y Sm</li>
                <li class="fondo">La mayoría de las galaxias de bajo brillo superficial rotan lentamente.</li>
            </ol>  
          </article>

        <article class="col-izquierda">
            <p>Están constituidas por un núcleo central y dos o más 
                brazos en espiral, que parten del núcleo. Este se 
                halla formado por multitud de estrellas y apenas 
                tiene materia interestelar, mientras que en los 
                brazos abunda la materia interestelar y hay gran 
                cantidad de estrellas jóvenes, que son muy brillantes. 
                Alrededor del 75 % de las galaxias del universo son de 
                este tipo</p>
            <img src="../imges/galespiral.jpg" alt="espiral">
        </article>

        <aside class="col-izquierda">
            <img src="../imges/espiral.jpg" alt="espiral" id="final">
        </aside>

    <!-- pie de pagina -->

    <footer>
        <h3>Universidad Politécnica Salesiana</h3>
        <h3>Estudiante: Byron Godoy</h3>
        <h3>Correo: <a href="mailto:bgodoyt@est.ups.edu.ec">bgodoyt@est.ups.edu.ec</a></h3>
        <h3>Telefono: <a href="tel:0968718441">0968718441</a></h3>
        <label >&#169; Todos los derechos reservados</label>
    </footer>
</body>
</html>