<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxia barrada</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/tresColumnas.css">
</head>
<body>
    
    <header>
        <img src="../imges/logo.jpg" alt="logo">
    </header>

    <nav>
        <ul>
            <li class="menu"><a href="../index.html">Pagina Principal</a></li>
            <li class="menu"><a href="teoria.html">Teoria sobre el origen del universo</a></li>
            <li class="menu"><a href="galaxia-eliptica.html">Galaxias Elípticas</a></li>
            <li class="menu"><a href="galaxia-lenticular.html">Galaxias Lenticulares</a></li>
            <li class="menu"><a href="galaxia-espiral.html">Galaxias Espirales</a></li>
            <li class="menu"><a href="galaxia-barrada.html">Galaxia Espiral Barrada</a></li>
            <li class="menu"><a href="galaxia-irregular.html">Galaxia Irregulares</a></li>
            <li class="menu"><a href="sonido-espacio.html">Sonidos del espacio</a></li> 
            <li class="menu"><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <!-- cuerpo de la pagina -->

    <section>
        <h1>Galaxia Barrada</h1>
        <article class="col-izquierda">
            <h1>Caracteristica</h1>
            <p>caracterizados 
                por la presencia de una barra central de la que 
                típicamente parten dos brazos espirales. Este tipo 
                de galaxias constituyen una fracción importante del 
                total de galaxias espirales. La Vía Láctea es una galaxia 
                espiral barrada.</p>
                <audio controls autoplay>
                    <source src="../sound/Así hablo Zarathustra R  Strauss.mp3">
                </audio>
        </article>

            
        <article class="col-izquierda">
            
            <p>Una galaxia espiral barrada es aquella con una banda 
                central de estrellas brillantes que abarca de un lado 
                a otro de la galaxia. Los brazos espirales parecen surgir 
                del final de la "barra" mientras en las galaxias espirales 
                parecen surgir del núcleo galáctico. Las barras son 
                relativamente comunes: hasta dos tercios de las galaxias 
                espirales contienen una.1​ Dichas barras generalmente 
                afectan tanto al movimiento de las estrellas como al del 
                gas interestelar dentro de la galaxia espiral, y pueden 
                afectar también a los brazos espirales.2​</p>
                <img src="../imges/barrada.jpg" alt="barrada">
        </article>

        <aside class="col-izquierda">
            <img src="../imges/galaxiaespiralbarra1.jpg" alt="galaxia barrada" id="final">
        </aside>
    </section>

    <section>
        

    </section>


      <!-- pie de pagina -->

      <footer>
        <h3>Universidad Politécnica Salesiana</h3>
        <h3>Estudiante: Byron Godoy</h3>
        <h3>Correo: <a href="mailto:bgodoyt@est.ups.edu.ec">bgodoyt@est.ups.edu.ec</a></h3>
        <h3>Telefono: <a href="tel:0968718441">0968718441</a></h3>
        <label >&#169; Todos los derechos reservados</label>
    </footer>
</body>
</html>