<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sonidos del espacio</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/dosColumnas.css">

</head>
<body>
    <header>
        <img src="../imges/logo.jpg" alt="logo">
    </header>

    <nav>
        <ul>
            <li class="menu"><a href="../index.html">Pagina Principal</a></li>
            <li class="menu"><a href="teoria.html">Teoria sobre el origen del universo</a></li>
            <li class="menu"><a href="galaxia-eliptica.html">Galaxias Elípticas</a></li>
            <li class="menu"><a href="galaxia-lenticular.html">Galaxias Lenticulares</a></li>
            <li class="menu"><a href="galaxia-espiral.html">Galaxias Espirales</a></li>
            <li class="menu"><a href="galaxia-barrada.html">Galaxia Espiral Barrada</a></li>
            <li class="menu"><a href="galaxia-irregular.html">Galaxia Irregulares</a></li>
            <li class="menu"><a href="sonido-espacio.html">Sonidos del espacio</a></li> 
            <li class="menu"><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>


    <section>
        
        <article class="izquierda">
            <h1>Sonidos del espacio</h1>
            <p>En el 2005, el astrofísico Garik Israelian recopiló 
                las ondas acústicas que emiten las estrellas en forma 
                de infrasonidos y se agrupó en una biblioteca la cual 
                permitió a músico y astrofísico Brian May crear un 
                festival denominado Starmus en el 2011</p>
                
            <p>Ahora dieron vida al proyecto Starsound que agrupa 
                    las ondas acústicas grabadas de Israelian y les 
                    añadieron imágenes a través de los especialistas 
                    en efectos visuales Paul Franklin y Oliver James 
                    que van al ritmo del sonido</p>
            <img src="../imges/sinido.jpg" alt="sonido" style="width: 100% !important; ">
                
        </article>

            <aside class="derecha">
                <h1>video del sonido del espacio</h1>
                <video controls >
                    <source src="../video/sonido_espacio.mp4" type="video/mp4"/>
                    <p>el navegador no soporta html5</p>
                </video>
            </aside>
    </section>


    <!-- pie de pagina -->

    <footer>
        <h3>Universidad Politécnica Salesiana</h3>
        <h3>Estudiante: Byron Godoy</h3>
        <h3>Correo: <a href="mailto:bgodoyt@est.ups.edu.ec">bgodoyt@est.ups.edu.ec</a></h3>
        <h3>Telefono: <a href="tel:0968718441">0968718441</a></h3>
        <label >&#169; Todos los derechos reservados</label>
    </footer>
</body>
</html>