<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teorias</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/dosColumnas.css">
</head>
<body>
    <header>
        <img src="../imges/logo.jpg" alt="logo">
    </header>

    <nav>
        <ul>
            <li class="menu"><a href="../index.html">Pagina Principal</a></li>
            <li class="menu"><a href="teoria.html">Teoria sobre el origen del universo</a></li>
            <li class="menu"><a href="galaxia-eliptica.html">Galaxias Elípticas</a></li>
            <li class="menu"><a href="galaxia-lenticular.html">Galaxias Lenticulares</a></li>
            <li class="menu"><a href="galaxia-espiral.html">Galaxias Espirales</a></li>
            <li class="menu"><a href="galaxia-barrada.html">Galaxia Espiral Barrada</a></li>
            <li class="menu"><a href="galaxia-irregular.html">Galaxia Irregulares</a></li>
            <li class="menu"><a href="sonido-espacio.html">Sonidos del espacio</a></li> 
            <li class="menu"><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <section>
        <article class="izquierda">
            <h1>Otras teorias</h1>
            <table>
                <thead>
                    <tr>
                        <td rowspan="2">TEORIA</td>
                        <td colspan="2">INFORMACIÓN</td>
                    </tr>
                    <tr>
                        <td>DESCUBRIDOR</td>
                        <td> AÑO</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Big Bang</td>
                        <td><cite>George Lamaître</cite> </td>
                        <td>1927</td>
                    </tr>
                    <tr>
                        <td>inflacionaria</td>
                        <td><cite>Alan Guth</cite></td>
                        <td>1981</td>
                    </tr>
                    <tr>
                        <td>estado estacionario</td>
                        <td><cite>James Jeans</cite></td>
                        <td>1930</td>
                    </tr>
                    <tr>
                        <td>universo oscilante</td>
                        <td><cite>Richard Tolman</cite></td>
                        <td>1960</td>
                    </tr>
                    <tr>
                        <td>Creación</td>
                        <td><cite>Charles Darwin</cite></td>
                        <td>siglo XIX</td>
                    </tr>
                </tbody>
            </table>

            <aside>
                <br>
                <iframe width="300" height="300" src="https://www.youtube.com/embed/nSHwS487eC0" frameborder="0"></iframe>
            </aside>
        </article>


        <article class="derecha">
            <h1>Teoria de la creacion del universo</h1>
            <p>El hecho de que el universo esté en expansión se deriva de las 
                observaciones del corrimiento al rojo realizadas en la década 
                de 1920 y que se cuantifican por la ley de Hubble. Dichas 
                observaciones son la predicción experimental del modelo de 
                Friedmann-Robertson-Walker, que es una solución de las ecuaciones 
                de campo de Einstein de la relatividad general, que predicen el 
                inicio del universo mediante un big bang.</p>

                <p>Durante la era más temprana del Big Bang, se cree que el universo 
                    era un caliente y denso plasma. Según avanzó la expansión, la 
                    temperatura decreció hasta el punto en que se pudieron formar 
                    los átomos. En aquella época, la energía de fondo se desacopló 
                    de la materia y fue libre de viajar a través del espacio. La energía 
                    remanente continuó enfriándose al expandirse el universo y hoy forma 
                    el fondo cósmico de microondas. Esta radiación de fondo es 
                    remarcablemente uniforme en todas direcciones, circunstancia 
                    que los cosmólogos han intentado explicar como reflejo de un 
                    periodo temprano de inflación cósmica después del Big Bang.</p>
                <aside>
                    <img src="../imges/bigban.jpg" alt="big bang">
                </aside>
        </article>
</section>

<!-- pie de pagina -->

<footer>
    <h3>Universidad Politécnica Salesiana</h3>
    <h3>Estudiante: Byron Godoy</h3>
    <h3>Correo: <a href="mailto:bgodoyt@est.ups.edu.ec">bgodoyt@est.ups.edu.ec</a></h3>
    <h3>Telefono: <a href="tel:0968718441">0968718441</a></h3>
    <label >&#169; Todos los derechos reservados</label>
</footer>
</body>
</html>